.main {
    display: flex;
    width: 100%;
    padding: 10px;
    background-color: rgba(217, 225, 231, 0.453);
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}